* {
  font-family: Cantarell, Noto Sans, sans-serif;
  font-size: 14px;
  min-height: 0;
  padding: 0 2px;
}

#waybar {
  background: rgba(16, 16, 16, 0.5);
  color: white;
  padding: 0 5px;
}

#workspaces {
  color: white;
}

#workspaces button {
  padding: 0.4rem;
  color: white;
  background: transparent;
  border: 0 transparent solid;
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#network,
#cpu,
#memory,
#custom-lock,
#custom-power {
  padding: 6px 10px;
}

#pulseaudio {
  border-radius: 5px 0px 0px 5%;
  margin-left: 1rem;
}

#custom-music {
  border-radius: 5px;
}

#custom-lock {
  border-radius: 5px 0px 0px 5px;
}

#custom-power {
  margin-right: 1rem;
  border-radius: 0px 5px 5px 0px;
}

#tray {
  border-radius: 5px;
}
