* {
  font-family: Cantarell, Noto Sans, sans-serif;
  font-size: 14px;
  font-weight: 500;
  min-height: 0;
  padding: 0;
}

#waybar {
  background: transparent; 
  color: white;
}

.modules-left,
.modules-center,
.modules-right {
  background: rgba(16, 16, 16, 0.5);
  border-radius: 20px;
  margin: 3px 5px;
  padding: 0 5px;
}

window#waybar.empty .modules-left {
  background: transparent;
}

#workspaces {
  color: white;
}

#workspaces button {
  color: white;
  background: transparent;
  border: 0 transparent solid;
  margin-right: 5px;
}

#workspaces button:first-child {
  margin-left: -5px;
}

#workspaces button:last-child {
  margin-right: 0;
}

#tray,
#backlight,
#clock,
#battery,
#bluetooth,
#pulseaudio,
#network,
#cpu,
#memory,
#window,
#workspaces,
#pulseaudio {
  padding: 5px 8px;
}
